<!-- <legend>Motivo do contato:</legend>
                    <input list="motivo" id="idMotivo" placeholder="Motivo do contato" size="30" required>
                    <datalist id="motivo">
                        <option value="Comercial"></option>
                        <option value="Reclamação"></option>
                        <option value="Sugestão"></option>
                        <option value="Cancelamento de Assinatura"></option>
                        <option value="Dúvida"></option>
                        <option value="Outros"></option>
                    </datalist> 
                
                -->

            <!-- <div class="form-floating">
                    <textarea class="form-control" name="nmTextArea" id="idTextArea" cols="30" rows="10"
                        maxlength="1000" placeholder="Seu comentário" required></textarea>
                    <br><output name="nmOutTextArea" for="idTextArea">0</output><br>
                </div>   -->   