#idTextArea {
    height: 150px;
    width: 30%;
    resize: none;
    background-color: rgb(217, 240, 204);
}

#idMotivo {
    background-color: rgb(217, 240, 204);
    border-radius: 4px; 
    border-color:rgb(155, 42, 165);  
}

#idSubmit {
    background-color: rgb(217, 240, 204);
    color:darkmagenta;
}

fieldset{
    text-align: center;
    border-style: dotted;
    border-width: 5px;
    border-color:rgb(216, 135, 110);
    font-family: Arial, Helvetica, sans-serif;
    color:darkmagenta;
    background-color:cornsilk;
}

input[type=text]:focus{
    background-color: lightblue;
    border-radius: 4px; 
    box-shadow: 0 0 0 0;
    outline: 0;
    border-color:brown;            
}

input[type=text]{
    background-color: rgb(217, 240, 204);
    border-radius: 4px; 
    border-color:rgb(155, 42, 165);            
}

input[type=email]:focus{
    background-color: lightblue;
    border-radius: 4px; 
    box-shadow: 0 0 0 0;
    outline: 0;
    border-color:brown;            
}

input[type=email]{
    background-color: rgb(217, 240, 204);
    border-radius: 4px; 
    border-color:rgb(155, 42, 165);
}

input[type=tel]:focus{
    background-color: rgb(157, 183, 192);
    border-radius: 4px; 
    box-shadow: 0 0 0 0;
    outline: 0;
    border-color:brown;            
}

input[type=tel]{
    background-color: rgb(217, 240, 204);
    border-radius: 4px; 
    border-color:rgb(155, 42, 165);            
}